<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.hudhud.islam">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Islams Fundament"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.app.hudhud.islam.Egenskaber_13"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.app.hudhud.islam.Egenskaber_Profeter"> </activity>

        <activity android:name="com.app.hudhud.islam.Frontpage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.hudhud.islam.Bon"></activity>
        <activity
            android:name="com.app.hudhud.islam.Trosbekendelse"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.app.hudhud.islam.Wudu"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.app.hudhud.islam.Wudu_Betingelser"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.app.hudhud.islam.Wudu_Afbrydelser"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.app.hudhud.islam.Bon_Afbrydelser"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.app.hudhud.islam.Bon_Betingelser"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.app.hudhud.islam.Fasten_Sojler"></activity>



    </application>

</manifest>
